body{
    background-color:black;
}

*{
    margin:0;
    padding:0;
}


#upload-container {
    margin-top: 20px;
    max-width:1200px;
    width:100%;
    margin-inline:auto; 
    margin-top:3rem;
}


#upload-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#upload-loading {
    margin-top: 10px;
}
.uploaded-video {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}



video{
    width:300px;
}

#uploaded-video-container{
    margin-top: 20px;
    max-width:1200px;
    width:100%;
    margin-inline:auto; 
    margin-top:3rem;
    display:grid;
    grid-template-columns: auto auto auto;
    gap:30px;
}

.download{
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}